<%- include('../partials/header') %>
  	<!--  views/partials/header.ejs ends here  -->
<h2>My Home Page</h2>
  <p><img class="pic" src="images/studio.jpg" /></p>
  <p>Hello welcome to Studio Ghilbi page, I created this utlizing a template from EJS. EJS simply stands for Embedded Javascript. It is a simple templating language/engine that lets its user generate HTML with plain javascript. EJS is mostly useful whenever you have to output HTML with a lot of javascript.</p>
  
  
<%- include('../partials/footer') %>
	