<%- include('../partials/header') %>

<h2>My Neighbor Totoro</h2>
  <p><img class="pic" src="images/Totoro.jpg" /></p>
  <p>This acclaimed animated tale by director Hayao Miyazaki follows schoolgirl Satsuke and her younger sister, Mei, as they settle into an old country house with their father and wait for their mother to recover from an illness in an area hospital. As the sisters explore their new home, they encounter and befriend playful spirits in their house and the nearby forest, most notably the massive cuddly creature known as Totoro.</p>

<%- include('../partials/footer') %>